# Data Artifacts & Storage (Strictly persisted to Google Drive)
artifacts/
artifacts_storage/
error_logs/
Production/
*.json
*.csv
*.log

# Python & Test Caches
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Environment & Secret Keys
.env
.ipynb_checkpoints/
